.container {
  display: flex;
  min-height: 100vh;
  transition: background-color 0.3s ease;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 250px;
}

.menu {
  list-style: none;
  padding: 0;
  padding-top: 140px;
  padding-left: 10px;
}

.menu-item {
  cursor: pointer;
  margin: 10px 0;
  font-size: 18px;
  color: white;
  transition: transform 0.3s ease;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item.active {
  font-weight: bold;
}

.social-icons {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  margin-left: 10px;
}

.icon-wrapper {
  margin: 10px 0;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.icon-wrapper:hover {
  transform: scale(1.1);
}

.icon {
  font-size: 24px;
}

.content-container {
  flex: 1;
  padding: 20px;
  color: white;
}

.content {
  font-size: 16px;
}
